<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Add News</h1>
      <button class="button button-clear button-positive" ng-click="backToNews()">Back to News</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createNews(news)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Title" ng-model="news.title">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Content" ng-model="news.content">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Add News</button>
        </div>
      </form>

    </ion-content>

  </div>