<ion-view style="background-color: #F2F2F2" title="Giỏ hàng">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="cake in cartList" class="item-thumbnail-left item-icon-right">
                <img ng-src="{{cake.img}}">
                <div>
                    <h2 class="dark-green name-menu wrap item-text-wrap">{{cake.name}}</h2>
                </div>
                <p>Số lượng: {{cake.sl}}</p>
                <p>Đơn giá: {{cake.price|currency:'':0}} VNĐ</p>
                <h2 class="dark-green bold">Thành tiền: {{cake.price*cake.sl|currency:'':0}} VNĐ</h2>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="icon-left ion-plus button-positive" ng-click="cartAddQuantity(cake.id,cake.name,cake.img,cake.price)"></ion-option-button>
                <ion-option-button class="icon-left ion-minus button-dark" ng-click="cartRemoveQuantity(cake.id,cake.name,cake.img,cake.price)"></ion-option-button>
                <ion-option-button class="icon-left ion-trash ion-trash-b button-assertive" ng-click="removefromCart(cake.id)"></ion-option-button>
            </ion-item>
        </ion-list>
        <br>
        <div class="list" ng-if="cartList.length!==0">
            <div class="item cart-padding-left ">
                <p class="dark-green status-menu wrap bold item-text-wrap">Tổng cộng: {{tongcong|currency:'':0}} VNĐ</p>
            </div>
        </div>
        <div class="list" ng-if="cartList.length==0">
            <div class="item text-center">
                <p class="dark-green wrap bold item-text-wrap">Chưa có sản phẩm nào được thêm vào giỏ</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <a class="button button-positive" ng-if="!authData" ng-click="fbSignIn()">Đăng nhập Facebook để thanh toán</a>
            <a class="button button-balanced" ng-if="authData" ng-click="navigatecartInfo()">Thanh toán</a>
        </div>
    </ion-footer-bar>
</ion-view>
