<ion-view style="background-color: #F2F2F2" title="Home">
    <ion-content>
       <div class="list card padding-createblog-button" ng-repeat="cake in cakes">
            <div class="item item-avatar avatar-custom">
                    <img ng-src="{{cake.Image}}"> 
                    <h2  style="color: #4DADAF; font-weight: 500">{{cake.Name}}</h2> 
                    
                    <button class="button button-clear" style="position:absolute;right:2px;top:10px;" ng-click="cakeDetail()"> <!-- ng-click="redirEdit(item.id)" -->

                        <i class="icon ion-chevron-right" style="color: #55B6B8" href="#/detail"></i>
                    </button>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click=""> <!-- ng-click="likeBlog(item)" -->
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" ng-click=""> <!-- ng-click="shareBlog(item)" -->
                        <i class="icon ion-share"></i>
                        Share
                    </a>
            </div>    
       </div>


	</ion-content>
</ion-view>