<a class="button icon-right ion-plus button-calm" style="margin-top:50px;margin-left:50px" ng-click="addNews()">Add News</a>
<div class="list" style="padding-top:10px">

    <a class="item item-thumbnail-left" href="#">
      <img src="http://img.v3.news.zdn.vn/w210/Uploaded/aolnpvp/2015_12_17/may%20bay.jpg">
      <h2>Australia quyết tiếp tục do thám trên Biển Đông</h2>
      <p>Bộ Quốc phòng Australia ngày 17/12 tuyên bố nước này sẽ không nhượng bộ trước áp lực từ Trung Quốc và sẽ tiếp tục các chuyến tuần tra trên các đảo nhân tạo phi pháp ở Biển Đông.</p>
    </a>

</div>