<ion-view title="Tin Tức" style="background-color: #F2F2F2">
    <ion-content>
        <div class="list">
			<div id="newssloader" style="height:100px;width:100%;"></div>
            <div id="newsloader" style="margin: auto;position: absolute;width: 100%;text-align: center;"><ion-spinner></ion-spinner></div>
			<ion-refresher pulling-text="" on-refresh="doRefresh()"> </ion-refresher>
			<div id="newsemptydiv" class="full-width" style="width:60px;text-align: center;"><p class ="dark-green name-menu"> Trang tin tức đang trống</p></div>
            <a ng-repeat="news in listnews" id="newslist" class="item item-thumbnail-left" ng-click="navigateNewsDetail(news.Key)">
                <img ng-src="{{ news.Image }}">
                <h2 class="dark-green name-menu" style="white-space:initial">{{ news.Title }}</h2>
                <div><p style="white-space:initial">{{ news.Abstract }}</p></div>
            </a>
        </div>
    </ion-content>
</ion-view>
