<ion-view style="background-color: #F2F2F2" title="News Detail">
    <ion-content class="has-tabs">
		<div id="xdvloader">            <ion-spinner></ion-spinner>
</div>
        
        <div class="card">
            <div class="item item-divider">
                <h2 class="dark-green name-menu">{{myNews.Title}}</h2>
                
            </div>
            <div class="item item-text-wrap">
                <div>
                    <image src="{{myNews.Image}}"></image>
                    <span>{{myNews.Abstract}}</span>
                </br></br></br>
                    <span>{{myNews.Content}}</span>
                </div>
            </div>
                            <div class="row">
                    <div class="text-left">
                        <button class="button button-icon positive">
                            <span>3</span>
                            <i class="icon ion-thumbsup"></i>
                        </button>
                        <button class="button button-icon positive">
                            <span>10</span>
                            <i class="icon ion-share"></i>
                        </button>
                        <button class="button button-icon positive">
                            <i class="icon ion-ios-heart"></i>
                        </button>
                    </div>

                </div>

    </ion-content>
</ion-view>
