<a class="button ion-plus button-calm" style="margin-top:50px;margin-left:50px" ng-click="addNews()"></a>
<ion-view title="Tin Tức" style="background-color: #F2F2F2">
    <ion-content>
        <div class="list">
            <a ng-repeat="news in listnews" class="item item-thumbnail-left" ng-click="navigateNewsDetail(news.Key)">
                <img ng-src="{{ news.Image }}">
                <h2 class="dark-green name-menu">{{ news.Title }}</h2>
                <h3>{{ news.Abstract }}</h3>
            </a>
        </div>
    </ion-content>
</ion-view>
