<a class="button ion-plus button-calm" style="margin-top:50px;margin-left:50px" ng-click="addRecipe()"></a>
<ion-view title="Công thức">

<ion-content style="margin-top:120px; margin-bottom:50px">
  <ion-list>
    <ion-item ng-repeat="recipe in recipes">
        <a class="item item-thumbnail-left" ng-click="showRecipe($index)" href="#">
	      <img ng-src="{{recipe.Image}}">
	      <h2>{{recipe.Title}}</h2>
	      <p>{{recipe.Content}}</p>
    	</a>
    	<div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="like($index)"> <!-- ng-click="likeBlog(item)" -->
                        <i class="icon ion-thumbsup"></i>
                        {{recipe.like}}
                    </a>
                    <a class="tab-item" ng-click="share()"> <!-- ng-click="shareBlog(item)" -->
                        <i class="icon ion-share"></i>
                        Share
                    </a>
            </div>    
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>