<ion-view style="background-color: #F2F2F2" title="Công thức">
    <ion-content class="has-tabs">
        <div id="recipesloader" style="height:100px;width:100%;"></div>
        <div id="recipeloader" style="margin: auto;position: absolute;width: 100%;text-align: center;">
            <ion-spinner></ion-spinner>
        </div>
        <ion-refresher pulling-text="" on-refresh="doRefresh()"> </ion-refresher>
		<div id="recipeemptydiv" class="full-width" style="width:60px;text-align: center;"><p class ="dark-green name-menu"> Trang công thức đang trống</p></div>
        <div class="list">
            <a ng-repeat="recipe in recipes" class="item item-thumbnail-left" ng-click="navigateRecipeDetail(recipe.Key)">
                <img ng-src="{{ recipe.Image }}" >
                <h2 class="dark-green name-menu">{{ recipe.Title }}</h2>
                <p>{{ recipe.Abstract }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
