<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
        <ion-tabs class="tabs-striped tabs-color-balanced">
            <!-- Menu Tab -->
            <ion-tab title="Menu" icon-off="menuicon" icon-on="menuicon" href="#/tab/menu">
                <ion-nav-view name="tab-menu">

            </ion-nav-view>
            </ion-tab>
            <!-- Deal Tab -->
            <ion-tab title="Khuyến mãi" icon-off="dealicon" icon-on="dealicon" href="#/tab/deal">
                <ion-nav-view name="tab-deal"></ion-nav-view>
            </ion-tab>
            <!--News Tab -->
            <ion-tab title="Tin tức" icon-off="newsicon" icon-on="newsicon" href="#/tab/news">
                <ion-nav-view name="tab-news"></ion-nav-view>
            </ion-tab>
            <!-- Recipe Tab -->
            <ion-tab title="Công thức" icon-off="recipeicon" icon-on="recipeicon" href="#/tab/recipe">
                <ion-nav-view name="tab-recipe"></ion-nav-view>
            </ion-tab>
            <!-- Cart Tab -->
            <ion-tab title="Giỏ hàng" icon-off="carticon" icon-on="carticon" href="#/tab/cart" badge="showtotalnotiSL" badge-style="badge-assertive">
                <ion-nav-view name="tab-cart"></ion-nav-view>
            </ion-tab>
            <!-- User/Order Hidden Tab -->
            <ion-tab title="Đơn hàng" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/order" hidden="true">
                <ion-nav-view name="tab-order"></ion-nav-view>
            </ion-tab>
            <!-- User/Info Hidden Tab -->
            <ion-tab title="Thông tin" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/profile" hidden="true">
                <ion-nav-view name="tab-profile"></ion-nav-view>
            </ion-tab>
			<!-- User/Info Hidden Tab -->
            <ion-tab title="Feedback" icon-off="feedbackicon" icon-on="feedbackicon" href="#/tab/feedback" hidden="true">
                <ion-nav-view name="tab-feedback"></ion-nav-view>
            </ion-tab>
			<!-- User/Info Hidden Tab -->
            <ion-tab title="Wish" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/wish" hidden="true">
                <ion-nav-view name="tab-wish"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
        <!-- ////////////////////////////// -->
    </ion-side-menu-content>
    <!-- Right side menu-->
    <ion-side-menu side="right">
        <ion-header-bar class="bar-balanced expanded">
            <div class="title title-left" ng-show="userName">
                <span class="item-avatar">
                    <img class="side-avatar" src="{{avatar}}">
                  </span> {{userName}}
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <a class="item " href="#/tab/profile" nav-clear="" menu-close="" ng-show="userName">
                    <image class="sidemenuimage"src="img/user.png"></image> Th&#xF4;ng tin
                </a>
                <a class="item " href="#/tab/order" nav-clear="" menu-close="" ng-show="userName">
                    <image class="sidemenuimage"src="img/cart.png"></image> Đơn hàng của tôi
                </a>

                <a class="item" href="#/tab/wish" nav-clear="" menu-close="" >
                    <image class="sidemenuimage"src="img/favourite.png"></image> Yêu thích
                </a>
                <a class="item " href="#/tab/feedback" nav-clear="" menu-close="" >
                    <image class="sidemenuimage"src="img/feedback.png"></image> Phản hồi

                </a>
                <a class="item " nav-clear="" menu-close="" ng-click="shareApp()">
                    <image class="sidemenuimage"src="img/share.png"></image> Chia s&#x1EBB;
                </a>
                <a class="item " ng-if="authData" nav-clear="" menu-close="" ng-click="logOut()">
                    <image class="sidemenuimage"src="img/login.png"></image> Tho&#xE1;t
                </a>
				<a class="item" ng-if="!authData" nav-clear="" menu-close="" ng-click="logIn()">
                    <image class="sidemenuimage"src="img/login.png"></image> Đăng Nhập
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
